body {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

#background-container {
    background-image: url("images/back.svg");
    width: 100%;
    height: 301px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    gap: 20px;
}

.search-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

input::placeholder {
    font-size: 18px;
    opacity: 40%;
}

.text-container-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.search-and-button {
    display: flex;
}

#search {
    width: 800px;
    height: 45px;
    border-radius: 0px;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

#search-button {
    /*Code to remove default style taken from https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
    background-color: white;
    width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
    outline: none;
    box-shadow: none;
}

#delete {
    width: 50px;
    background-color: white;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

#error-message {
    margin-top: 180px;
    display: flex;
    font-size: 25px;
    background-color: #eaeaea;
    width: 900px;
    min-height: 60px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.nav {
    display: none;
    margin-top: 100px;

    background-color: #eeeeee;
    width: 1000px;
    min-height: 70px;
}

.nav-element {
    display: none;
    font-size: 20px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav-element:hover {
    transition: 0.2s ease-in;
    background-color: #a5a8ad;
  }

#company_parent {
    display: flex;
    flex-direction: column;
}

#stock_parent {
    display: flex;
    flex-direction: column;
}

#company_element_container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.2px grey;
}

#stock_element_container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.2px grey;
}

#active_button {
    background-color: #a5a8ad;
}

.active-button {
    background-color: #a5a8ad;
}

#div-2 {
    background-color: #ec3043;
    min-width: 35px;
    min-height: 50px;
}

#div-3 {
    background-color: #9e7670;
    min-width: 40px;
    min-height: 50px;
   }

   #div-4 {
    background-color: #629d74;
    min-width: 45px;
    min-height: 50px;
   }

   #div-5 {
    background-color: #93dfaf;
    min-width: 50px;
    min-height: 50px;
   }

   #div-6 {
    background-color: #2adf82;
    min-width: 55px;
    min-height: 50px;
   }

.recommendation-div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

#news-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    gap: 20px;
}

.news-card {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row; 
    max-width: 1000px;
    max-height: 180px;
}

#news-image {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    padding: 10px;
}

#news-right-container {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

#news-left-container {
    max-width: 50px;
}

#chart-container {
    min-width: 1000px;
    min-height: 700px;
    
  }
  
